[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mujtaba/Desktop/VNC-Viewer-6.20.113-Linux-x64]
row=3
col=0

[/home/mujtaba/Desktop/Zoom.desktop]
row=4
col=0

[/home/mujtaba/Desktop/firefox-esr.desktop]
row=2
col=0

[Trash]
row=1
col=0

[/home/mujtaba]
row=0
col=0

