[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[c9cfa2bd-f40a-48ca-8415-a1e19acf1812]
row=2
col=0

[32C6EEF4027AE3CD]
row=0
col=0

[2B8EC88203ACF2BE]
row=3
col=0

[DC140EEBB48BCD25]
row=1
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/home/mujtaba]
row=0
col=1

