[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mujtaba/Desktop/WhatsApp.desktop]
row=3
col=0

[/home/mujtaba/Desktop/VNC-Viewer.desktop]
row=2
col=0

[/home/mujtaba/Desktop/New Folder]
row=0
col=1

[/home/mujtaba/Desktop/Zoom.desktop]
row=4
col=0

[/home/mujtaba/Desktop/Painter.java.torrent]
row=5
col=0

[/home/mujtaba/Desktop/firefox-esr.desktop]
row=6
col=0

[Trash]
row=0
col=0

[/home/mujtaba]
row=1
col=0

